# Node.js
node_modules/

# Yarn
.pnp/
.pnp.js

# Logs
logs
*.log

# Environment Variables
.env
.env.local
.env.*.local

# Build Output
dist/
out/
.next/

# Dependency Directories

# Editor Files
.idea/
.vscode/
.DS_Store

# TypeScript
*.tsbuildinfo

# Misc
coverage/
*.swp