<!DOCTYPE html>
<html>
  <head>
    <title>Welcome Email</title>
  </head>
  <body>
    <h1>Welcome, <%= email %>!</h1>
    <p>Thank you for joining us. We are excited to have you!</p>
  </body>
</html>
